In [1]:
from IPython.display import display, Math, Latex
from IPython.core.display import HTML

In [2]:
# подгрузим модули
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [3]:
dataset = pd.read_csv('./csvs/Online_Retail.csv',delimiter = ";",header=None)

C:\Users\irina\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# посомтрим на датасет
dataset.head()

,0,1,2,3,4,5,6,7
0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01 12 10 8:26,"2,55",17850,United Kingdom
2,536365,71053,WHITE METAL LANTERN,6,01 12 10 8:26,"3,39",17850,United Kingdom
3,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01 12 10 8:26,"2,75",17850,United Kingdom
4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01 12 10 8:26,"3,39",17850,United Kingdom

In [5]:
transactions = []
for i in range(0, 7000): 
    transactions.append([str(dataset.values[i,j]) for j in [0, len(dataset.columns) - 1]])

In [6]:
import apyori
from apyori import apriori

In [7]:
%%time
# и обучимся правилам. Обратите внимание, что пороговые значения мы вибираем сами в зависимости от того, /
# насколкьо "сильные" правила мы хотим получить
# min_support -- минимальный support для правил (dtype = float).
# min_confidence -- минимальное значение confidence для правил (dtype = float)
# min_lift -- минимальный lift (dtype = float)
# max_length -- максимальная длина itemset (вспоминаем про k-itemset)  (dtype = integer)

result = list(apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 4, min_length = 2, max_length = 2))

Wall time: 21 ms

Визуализируем выход

In [8]:
import shutil, os

In [9]:
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO

In [10]:
import json #преобразовывать будем в json, используя встроенные в модуль методы

In [11]:
output = []
for RelationRecord in result:
    o = StringIO()
    apyori.dump_as_json(RelationRecord, o)
    output.append(json.loads(o.getvalue()))
data_df = pd.DataFrame(output)

In [12]:
# и взгялнем на итоги
pd.set_option('display.max_colwidth', None)

from IPython.display import display, HTML

display(HTML(data_df.to_html()))

Итого мы видим:

1. Пары items
2. items_base - первый элемент пары
3. items_add - второй (добавленный алгоритмом) элемент пары
4. confidence - значение confidence для пары
5. lift - значение lift для пары
6. support - начение support для пары. При желании, по нему можно отсортировать

### ECLAT Algorithm

#### Реализация в Python

In [16]:
import numpy as np
"""
Класс инициируется 3мя параметрами:
- min_supp - минимальный support  который мы рассматриваем для ItemSet. Рассчитывается как % от количества транзакций
- max_items - максимальное количество елементов в нашем ItemSet
- min_items - минимальное количество элементов ItemSet
"""
class Eclat:
    #инициализация объекта класса
    def __init__(self, min_support = 0.01, max_items = 5, min_items = 2):
        self.min_support = min_support
        self.max_items = max_items
        self.min_items = min_items
        self.item_lst = list()
        self.item_len = 0
        self.item_dict = dict()
        self.final_dict = dict()
        self.data_size = 0
    
    #создание словаря из ненулевых объектов из всех транзакций (вертикальный датасет)
    def read_data(self, dataset):
        for index, row in dataset.iterrows():
            row_wo_na = row.dropna().unique()
            for item in row_wo_na:
                item = str(item).strip()
                if item in self.item_dict:
                    self.item_dict[item][0] += 1
                else:
                    self.item_dict.setdefault(item, []).append(1)
                self.item_dict[item].append(index)
        #задаем переменные экземпляра (instance variables)
        self.data_size = dataset.shape[0]
        self.item_lst = list(self.item_dict.keys())
        self.item_len = len(self.item_lst)
        self.min_support = self.min_support * self.data_size
        #print ("min_supp", self.min_support)
        
    #рекурсивный метод для поиска всех ItemSet по алгоритму Eclat
    #структура данных: {Item: [Supp number, tid1, tid2, tid3, ...]}
    def recur_eclat(self, item_name, tids_array, minsupp, num_items, k_start):
        if tids_array[0] >= minsupp and num_items <= self.max_items:
            for k in range(k_start+1, self.item_len):
                if self.item_dict[self.item_lst[k]][0] >= minsupp:
                    new_item = item_name + " | " + self.item_lst[k]
                    new_tids = np.intersect1d(tids_array[1:], self.item_dict[self.item_lst[k]][1:])
                    new_tids_size = new_tids.size
                    new_tids = np.insert(new_tids, 0, new_tids_size)
                    if new_tids_size >= minsupp:
                        if num_items >= self.min_items: self.final_dict.update({new_item: new_tids})
                        self.recur_eclat(new_item, new_tids, minsupp, num_items+1, k)
    
    #последовательный вызов функций определенных выше
    def fit(self, dataset):
        i = 0
        self.read_data(dataset)
        for w in self.item_lst:
            self.recur_eclat(w, self.item_dict[w], self.min_support, 2, i)
            i+=1
        return self
        
    #вывод в форме словаря {ItemSet: support(ItemSet)}
    def transform(self):
        return {k: "{0:.4f}%".format((v[0]+0.0)/self.data_size*100) for k, v in self.final_dict.items()}

Потестируем

In [17]:
#создадим экземпляр класса с нужными нам параметрами
model = Eclat(min_support = 0.009, max_items = 10, min_items = 3)

In [18]:
#обучим
model.fit(dataset)

In [19]:
#и визуализируем результаты
model.transform()

{'6 | United Kingdom | 2,95': '1.3912%',
 'United Kingdom | 2 | 1,25': '1.0845%',
 'United Kingdom | 1,65 | 12': '1.1013%',
 'United Kingdom | 1,65 | 10': '1.0419%',
 'United Kingdom | 1,65 | 1': '1.0993%',
 'United Kingdom | 12 | 0,85': '1.1149%',
 'United Kingdom | 12 | 1,25': '2.1889%',
 'United Kingdom | 1,25 | 1': '1.7363%',
 'United Kingdom | 2,95 | 1': '1.0135%',
 'United Kingdom | 1 | 0,83': '1.1483%',
 'United Kingdom | 1 | 4,13': '1.6257%',
 'United Kingdom | 1 | 2,46': '1.7102%',
 'United Kingdom | 1 | 3,29': '1.2033%',
 'United Kingdom | 1 | 1,63': '1.1543%'}

Как видно, реализовать алгоритм своими силами довольно просто, хотя с эффективностью стоит поработать:)

### FP-Growth Algorithm

#### Реализация в Python

In [20]:
import pyfpgrowth

In [21]:
#Сгенериуем паттерны
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,536365,536366,536367,536368,536369,536370,536371,536372,536373,536374,...,EIRE,France,Germany,InvoiceNo,Netherlands,Norway,Poland,Spain,Switzerland,United Kingdom
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [22]:
#Сгенериуем правила
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.01)

     support    itemsets
0   0.953857       (378)
1   0.011571        (42)
2   0.012143        (53)
3   0.010143        (61)
4   0.010429       (374)
5   0.010429        (73)
6   0.015571       (369)
7   0.075286        (84)
8   0.084571       (131)
9   0.017286       (244)
10  0.010857       (280)
11  0.011571       (292)
12  0.020000       (295)
13  0.084714       (298)
14  0.010143       (324)
15  0.020714       (329)
16  0.011571   (42, 378)
17  0.012143   (378, 53)
18  0.010143   (378, 61)
19  0.010429   (73, 374)
20  0.075286   (378, 84)
21  0.084571  (378, 131)
22  0.017286  (378, 244)
23  0.010857  (280, 378)
24  0.011571  (378, 292)
25  0.020000  (378, 295)
26  0.084714  (298, 378)
27  0.010143  (369, 324)
28  0.020714  (329, 378)

In [23]:
fpgrowth(df, min_support=0.6, use_colnames=True)

    support          itemsets
0  0.953857  (United Kingdom)